# Visual Studio Editor Files (Tobias)
/bomberman/.vs
/bomberman/Release
/bomberman/Debug
/bomberman/bomberman.sln
/bomberman/bomberman.vcxproj
/bomberman/bomberman.vcxproj.filters
/bomberman/bomberman.vcxproj.user